[submodule "external/libzmq"]
	path = external/libzmq
	url = https://github.com/zeromq/libzmq
[submodule "external/czmq"]
	path = external/czmq
	url = https://github.com/zeromq/czmq
[submodule "external/cmocka"]
	path = external/cmocka
	url = git://git.cryptomilk.org/projects/cmocka.git
[submodule "external/linq-common"]
	path = external/linq-common
	url = https://bitbucket.org/Altronix/linq-common
[submodule "external/http_parser"]
	path = external/http_parser
	url = https://bitbucket.org/Altronix/http_parser
[submodule "external/wolfssl"]
	path = external/wolfssl
	url = https://bitbucket.org/Altronix/wolfssl
[submodule "external/mongoose"]
	path = external/mongoose
	url = https://github.com/cesanta/mongoose
[submodule "external/sqlite"]
	path = external/sqlite
	url = https://github.com/sqlite/sqlite
