#autoconf
*.cache

#vim
*.swp
*.swo

#objects
*.o
*.lo

#cscope
**/*cscope.files
**/*cscope.out

#latex
output/doc/*

*.bin
.ycm_extra_conf.pyc
/autoscan.log
config.log
config.status
**/*vgcore*

#cmake
build
target

#ctags
tags

#cargo
/target
**/*.rs.bk
Cargo.lock

#node
**/*/node_modules
node_modules

#sqlite
**/*/test.db
test.db

#don't publish dependencies not needed by nodejs
external/cmocka
external/http_parser
external/linq-common
external/wolfssl
external/mongoose
external/sqlite
bindings/rust
bindings/go
test
